<div >
    <form name="frm" id="frm">
    	<button data-ng-click="loadEntities(0)">Theaters</button>
    	<button data-ng-click="loadEntities(1)">Cinemas</button>
    	<button data-ng-if="loginuser.role == 'SYSADMIN'" data-ng-click="changeView('/cinematheater/edit/00000000-0000-0000-0000-000000000000')">Create new entity</button>
    	<div data-ng-repeat="entity in selectedEntities" data-ng-show="selectedEntities.length > 0">
    		<div>{{ entityType }} name: {{entity.name}}</div>
    		<div>Address: {{entity.address}}</div>
    		<div>Description: {{entity.description}}</div>
    		<div>Rating: {{entity.EntityRate}}</div>
    		<button data-ng-if="loginuser.role == 'CUSTOMER' || loginuser.role == 'CINTHEADMIN'" data-ng-click="changeView('/repertoirelisting/' + entity.id)">Repertoire</button>
    		<button data-ng-if="loginuser.role == 'SYSADMIN'" data-ng-click="changeView('/cinematheater/edit/' + entity.id)">Edit</button>
    		<button data-ng-if="loginuser.role == 'SYSADMIN'" data-ng-click="deleteEntity(entity.id)">Delete</button>
    	</div>
    </form>
</div>