<div >
    <form name="frm" id="frm">
    	<div data-ng-if="showProductionType">
    		<label for="productionType">Production type:</label>
    		<select id="productionType" name="productionType" data-ng-model="production.isMovie" data-required="">
    			<option value="1">Movie</option>
    			<option value="0">Display</option>
    			<option value="">Please select</option>
    		</select>
    		<div data-ng-show="frm.productionType.$error.required" class="required">Production type is required</div>
    	</div>	
    	<label for="productionName">Name:</label>
    	<input id="productionName" type="text" name="productionName" data-ng-model="production.name" placeholder="name" data-required="">
    	<div data-ng-show="frm.productionName.$error.required" class="required">Name is required</div>
    	<br>
    	<label for="productionActors">Actors:</label>
    	<input id="productionActors" type="text" name="productionActors" data-ng-model="production.actors" placeholder="actors" data-required="">
    	<div data-ng-show="frm.productionActors.$error.required" class="required">Actors is required</div>
    	<br>
    	<label for="productionDescription">Description:</label>
    	<input id="productionDescription" type="text" name="productionDescription" data-ng-model="production.description" placeholder="description">
    	<br>
    	<label for="productionGenre">genre:</label>
    	<input id="productionGenre" type="text" name="productionGenre" data-ng-model="production.genre" placeholder="genre">
    	<br>
    	<label for="nameOfDirector">Name of director:</label>
    	<input id="nameOfDirector" type="text" name="nameOfDirector" data-ng-model="production.nameOfDirector" placeholder="nameOfDirector">
    	<br>
    	<label for="duration">Duration:</label>
    	<input id="duration" type="number" name="duration" data-ng-model="production.duration" placeholder="Duration">
    	<br>
    	 <label for="avrageRating">Rating:</label>
    	<input id="avrageRating" type="text" name="avrageRating" data-ng-model="production.avrageRating" placeholder="Rating">
    	<br>  	    	
    	<button data-ng-click="frm.$invalid || saveProduction()">Save</button>
    	<button data-ng-click="changeView('/productionlist')">Cancel</button>
    </form>
</div>	
