<div >
    <form name="frm" id="frm">
		

<!-- 		<div style="margin-left: 46px;"> -->
<!-- 			<div class="columnsInRoom" data-ng-repeat = 'column in totalSitsInRow'> -->
<!-- 						{{column}} -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 		<div data-ng-repeat = 'row in totalRowsInRoom'> -->
<!-- 			<div> -->
<!-- 				<div style="display: inline-block;">{{row}} row:</div> -->
<!-- 				<div style="display: inline-block;" data-ng-repeat = 'sitInRow in totalSitsInRow'> -->
<!-- 					<input type="checkbox" data-ng-model="sitInRow.checked" name="sitNo_{{sitInRow}}" data-ng-click="checkSit(row, sitInRow)"> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<br> -->
<!-- 		</div> -->
		
		<div style="margin-left: 46px;">
			<div class="columnsInRoom" data-ng-repeat = 'column in totalSitsInRow'>
						{{column}}
			</div>
		</div>
		<div data-ng-repeat = 'row in totalRowsInRoom'>
			<div>
				<div style="display: inline-block;">{{row.rowNo}} row:</div>
				<div style="display: inline-block;" data-ng-repeat = 'sitInRow in row.sits'>
					<input type="checkbox" data-ng-checked = "isReserved(row, sitInRow.sitNo)" data-ng-disabled = "isReserved(row, sitInRow.sitNo)"  data-ng-model="sitInRow.checked" name="sitNo_{{sitInRow.sitNo}}" data-ng-click="checkSit(row, sitInRow.sitNo, $event)">
				</div>
			</div>
			<br>
		</div>
	
	<div data-ng-show="tempReservations.length > 0">	
		<div>My Friends</div>
	    <div data-ng-repeat="myFriend in myFriends" data-ng-show="myFriend.active == true">
	    	<div>
	    		{{myFriend.friendID}}
	    	</div>
	    </div>
	</div>
    	<button data-ng-click="frm.$invalid || saveReservation()">Save Reservation</button>
    	<button data-ng-click="changeView('/cinematheaterlist')">Cancel</button>
    </form>
</div>