<div>
	<div style="float: left;">
	  	<div>My Profile</div>
	   	<div>Name: {{loginuser.name}}</div>
	   	<div>Surname: {{loginuser.surname}}</div>
	   	<div>Email: {{loginuser.email}}</div>
	   	<div>City: {{loginuser.city}}</div>   
	   	   	    <br>
		<button data-ng-click="changeView('/cinematheaterlist')">Back</button>   
   	</div>

    
   <div style="float: right;">
	    <div>My Reservations</div>
	    <div data-ng-repeat="reservation in myAllReservations" data-ng-if="reservation.approved == true">
	    	<div>
	    		Production: {{getRepertoireInfo(reservation.repertoireId, 'name')}} 
	    	</div>
	    	<div>
	    		Date/Time: {{getRepertoireInfo(reservation.repertoireId, 'time')}} 
	    	</div>
	    	<div><button data-ng-if="isPossibleToCancel(reservation.repertoireId);" data-ng-click="cancelReservation(reservation.id)">Cancel</button></div>
	    </div>
	    <br>
	    <br>
	    <br>
	    <div>Reservation History</div>
	    <div data-ng-repeat="reservation in reservationHistory">
	    	<div>
	    		Production: {{getRepertoireInfo(reservation.repertoireId, 'name')}} 
	    	</div>
	    	<div>
	    		Date/Time: {{getRepertoireInfo(reservation.repertoireId, 'time')}} 
	    	</div>
			<div>Rating : </div>
	    	<div data-ng-if="getRepertoireInfo(reservation.repertoireId, 'productionRating')!='not rated'"style="float:left;">
			<span data-ng-if="getRepertoireInfo(reservation.repertoireId, 'productionRating')==1">☆</span>
			<span data-ng-if="getRepertoireInfo(reservation.repertoireId, 'productionRating')==2">☆☆</span>
			<span data-ng-if="getRepertoireInfo(reservation.repertoireId, 'productionRating')==3">☆☆☆</span>
			<span data-ng-if="getRepertoireInfo(reservation.repertoireId, 'productionRating')==4">☆☆☆☆</span>
			<span data-ng-if="getRepertoireInfo(reservation.repertoireId, 'productionRating')==5">☆☆☆☆☆</span>
			</div><br>
			<div data-ng-if="checkIfRated(reservation.repertoireId)==true && loginuser.role!='CINTHEADMIN' && loginuser.role!='SYSADMIN'" class="rating" style="float:left;">
			<span data-ng-click="rate(reservation.repertoireId,5)">☆</span>
			<span data-ng-click="rate(reservation.repertoireId,4)">☆</span>
			<span data-ng-click="rate(reservation.repertoireId,3)">☆</span>
			<span data-ng-click="rate(reservation.repertoireId,2)">☆</span>
			<span data-ng-click="rate(reservation.repertoireId,1)">☆</span>
			</div><br>
	    </div>
	    <br>
	    <br>
	    <br>
	    <div>Invitations for Events Friends</div>
	    <div data-ng-repeat="invitation in myAllReservations" data-ng-if="invitation.approved == false">
	    	<div>
	    		Production: {{invitation.RepertoireId}} 
	    	</div>
	    	<div>
	    		From friend: {{getFriendName(invitation.senderId).name}} 
	    	</div>
	    	<div>
	    		Date/Time: {{getRepertoireInfo(invitation.repertoireId, 'time')}} 
	    	</div>
	    	<button data-ng-click="confirmInvitation(invitation, true)">Confirm</button>
	    	<button data-ng-click="confirmInvitation(invitation, false)">Decline</button>
	    </div>	    
	    
	    </div>

    </div>
