<html>
<head>
<title>Home</title>
   <script src="js/angular.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.7.2/angular-resource.min.js"></script>
   <script src="js/angular-route.min.js"></script>
   <script src="app.js"></script>
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/login.css" />   
   <script src="js/lodash.min.js"></script>
   <script src="js/moment.min.js"></script>
   
</head>
<body data-ng-app="myModule">
<button data-ng-click="changeView('/login')">login</button>
<button data-ng-click="changeView('/registration')">registration</button>
<button data-ng-click="changeView('/cinematheaterlist')">View entity list</button>
<button data-ng-click="changeView('/productionList')">View production list</button> <!-- data-ng-if="loginuser.role=='cintheadmin'" -->
	<div data-ng-view></div>
<!-- sevices -->
<script src="services/appService.js"></script>
<script src="services/dataService.js"></script>
<!--  controllers -->
<script src="controllers/registrationCtrl.js"></script>
<script src="controllers/loginCtrl.js"></script>
<script src="controllers/cinTheListingCtrl.js"></script>
<script src="controllers/cinTheEditCtrl.js"></script>
<script src="controllers/repertoireCtrl.js"></script>
<script src="controllers/productionCtrl.js"></script>
<script src="controllers/productionEditCtrl.js"></script>
<script src="controllers/repertoireEditCtrl.js"></script>
</body>

</html>